[Unit]
Description=Docker Container %I
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/root/docker/docker-start-service.sh %i 
ExecStop=/usr/bin/docker stop -t 2 %i

[Install]
WantedBy=default.target
